* {
  background-color: black;
  color: white;
}

body {
  margin: 8%;
}

.slider {
  position: relative;
  display: flex;
  width: 117vh;
  height: 82vh;
  z-index: 10;
}

.image {
  position: relative;
  display: flex;
  margin-left: 120px;
  margin-top: 30px;
  width: 600px;
  height: 80%;
  object-fit: contain;
  overflow: hidden;
  border-radius: 10px;
}

.left {
  position: absolute;
  top: 50%;
  left: 22px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right {
  position: absolute;
  top: 50%;
  right: 22px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.photo {
  opacity: 0;
  transition-duration: 2s ease;
}

.photo.active {
  opacity: 1;
  transition-duration: 2s;
}